/**
 * Admin styles for widgets and some light
 * styles used by blocks.
 *
 ----------------------------------------------*/
@import 'globals/media-queries.pcss';
@import 'parts/widget.pcss';
@import 'parts/elementor.pcss';
@import 'parts/beaver-builder.pcss';
@import 'parts/customizer.pcss';
