# system/hidden files
.phpcs.cache
.phpunit.result.cache

# Composer files
dev/translate-cli/vendor

# JS dist files
js/dist

# Language files compliled during deployment.
languages/*.json

# Yarn berry files
install-state.gz
build-state.yml
js/node_modules
