<?xml version="1.0"?>
<ruleset name="Advanced Sidebar Menu - Rules">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<description>Ruleset for the Advanced Sidebar Menu plugin.</description>
	<version>4.0.0</version>

	<!-- Include when not specified -->
	<file>./src</file>
	<file>./js</file>

	<!-- Show file path based on project root. -->
	<arg name="basepath" value="." />

	<!-- Cache between runs -->
	<arg name="cache" value="./.phpcs.cache" />

	<!-- @see https://github.com/PHPCompatibility/PHPCompatibilityWP#how-to-use -->
	<config name="minimum_supported_wp_version" value="5.7" />
	<config name="testVersion" value="7.0-" />

	<rule ref="LipePlugin" />

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="advanced-sidebar-menu" />
		</properties>
	</rule>
</ruleset>
