includes:
    # Include the lipemat phpstan rules.
    - %rootDir%/../../../rules.neon

parameters:
    level: 5
    lipemat:
        allowedToBeExtended:
            - Advanced_Sidebar_Menu\Blocks\Block_Abstract
            - Advanced_Sidebar_Menu\Menus\Menu_Abstract
            - Advanced_Sidebar_Menu\Walkers\Category_Walker
            - Advanced_Sidebar_Menu\Walkers\Page_Walker
            - Advanced_Sidebar_Menu\Widget\Widget_Abstract
            - Walker_Category
            - Walker_Page
            - WP_Widget
        noExtends: true
        nonDistributed: false
    paths:
        - advanced-sidebar-menu.php
        - src
    bootstrapFiles:
        - advanced-sidebar-menu.php
    scanFiles:
        - dev/stubs/advanced-sidebar-menu-pro.stub
    ignoreErrors:
        - # Remove once the WP version use for wordpress-legacy >= 6.2.
            message: '#^Function apply_filters invoked with [3456789] parameters, 2 required\.$#'
            reportUnmatched: false
