.advanced-sidebar-menu ul li a{
	font-weight: bold;
	font-size: 130%;
	text-decoration: none;
}

.advanced-sidebar-menu ul li a:hover{
	text-decoration: underline;
}

.advanced-sidebar-menu ul ul li a{
	font-weight: normal;
	font-size: 100%;
}

.advanced-sidebar-menu ul{
	margin: 0 0 0 18px;
	list-style: none;
}

.advanced-sidebar-menu ul li{
	list-style:none;
	margin: 0;
}

.advanced-sidebar-menu li.current_page_item{
	list-style-type: disc;
}

.advanced-sidebar-menu li.current_page_item a{
	font-weight: bold;
}

.advanced-sidebar-menu li.current_page_item li a{
    font-weight: normal;
}
