.advanced-sidebar-menu-column {
	float: left;
	width: 49%;
}

.advanced-sidebar-menu-column-right {
	margin-left: 2%;
}

.advanced-sidebar-menu-column-box {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #f1f1f1;
}

.advanced-sidebar-menu-full-width {
	width: 100%;
	clear: both;
}

@media all and ( max-width: 620px  ) {
	.advanced-sidebar-menu-column {
		width: 100%;
	}
}
