.advanced-sidebar-menu-column {
	float: left;
	width: 49%;
}


.advanced-sidebar-menu-column-right {
	margin-left: 2%;
}

.advanced-sidebar-menu-column-box {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #f1f1f1;
}

.advanced-sidebar-menu-full-width {
	width: 100%;
	clear: both;
}

@media all and ( max-width: 620px  ) {
	.advanced-sidebar-menu-column {
		width: 100%;
	}

	.advanced-sidebar-menu-column-right {
		margin-left: 0;
	}
}

/** Elementor specific styles **/
.elementor-control-content .advanced-sidebar-menu-column {
	width: 100%;
}
.elementor-control-content .advanced-sidebar-menu-column-right {
	margin-left: 0;
}
.elementor-control-content .advanced-sidebar-menu-column-box .widefat {
	width: 100%;
}
.elementor-control-content .advanced-sidebar-menu-column-box .wp-picker-container input[type="text"].wp-color-picker {
	min-height: auto;
	padding: 6px 3px;
	font-weight: 600;
}
.elementor-control-content .advanced-sidebar-menu-column-box .advanced-sidebar-menu-border-color .wp-color-result {
	position: relative;
	top: 7px;
}
.elementor-control-content .advanced-sidebar-menu-column-box .wp-picker-container{
	float: none;
}
.elementor-control-content .advanced-sidebar-menu-column-box .wp-picker-container.wp-picker-active {
	top: auto;
}
