.placeholder {
	:global(.components-placeholder__label) {
		flex-direction: column;
		width: 100%;
	}

	:global(.components-placeholder__instructions) {
		display: block !important;
	}

	:global(.dashicons) {
		font-size: 30px;
		height: 35px;
		width: 35px;
	}

	:global(.components-placeholder__fieldset) {
		text-align: center;
	}
}

.error {
	padding: 10px;
	margin: 2px;
	border: 4px double #d63638;
	font-size: 14px;
	font-weight: 600;
}
